<% provide(:title, "Import-Export Information") %>
<div class="row">
  <div class="col-sm-10 col-xs-offset-2">
  	<div class="page-header">
  		<h2 class="import-color">Import <small>&nbsp; read data into Donna Donor from an outside source</small></h2>
  	</div>
  </div>
</div>
<!-- Import content -->
  <div class="row report-row">
    <div class="col-xs-8 col-xs-offset-2"> 
    <%= link_to('import-export/inkind') do %>
    	<span class="	glyphicon glyphicon-leaf import-icon import-color"></span>
    	<span class="report-title">In-kind</span> 
  	<% end %>
    	<span class="report-description">- import non-cash, in-kind donations</span> 
    </div>
  </div>

<!-- Begin CSV Import -->
<div class="row report-row">
  <div class="col-xs-8 col-xs-offset-2" id="importLink"> 
  <%= link_to('javascript:void(0)') do %>
  	<span class="	glyphicon glyphicon-download import-icon import-color"></span>
  	<span class="report-title">CSV Import</span> 
  	<% end %>
  	<span class="report-description">- import data from Raiser's Edge</span> 
  </div>
</div>

<div id='importPopupWrapper' class='col-xs-8 col-xs-offset-2'>
	  <p><p></p>
	  	<span>Please select the import type.</span>
	    <select id="importTypeSelection" name="user_id">
	      <option value="None" selected="selected">Choose Type</option>
	      <option value="Donors">Donors</option></option>
	      <option value="Gifts">Gifts</option>
	    </select>
	  </p>
	<div id='donorsImportDiv'>
		<p>
			<%= form_tag import_donors_path, multipart: true do %>
	      <%= file_field_tag :file %>
	      <br />
	      <%= submit_tag "Import Donors from CSV" %>
    	<% end %>
		</p>
  </div>
  <div id='giftsImportDiv'>
  	<p>
  		<%= form_tag import_gifts_path, multipart: true do %>
	      <%= file_field_tag :file %>
	      <br />
	      <%= submit_tag "Import Gifts from CSV" %>
    	<% end %>
  	</p>
  </div>
</div> <!-- End CSV Import -->

<!-- Export header -->
<div class="row export-header">
  <div class="col-sm-10 col-xs-offset-2">
  	<div class="page-header">
  		<h2 class="export-color">Export <small>&nbsp; write data out of the program</small></h2>
  		
  	</div>
  </div>
</div>   <!-- row -->

<!-- Export content -->
<div class="row report-row">
	<div class="col-xs-8 col-xs-offset-2"> 
	<%= link_to('import-export/export.csv') do %>
	<%= icon("envelope", class: "report-icon export-icon export-color") %>
	<span class="report-title">MailChimp</span>
	<% end %>
	<span class="report-description">- export contact info to MailChimp</span> 
	</div>
</div>
<div class="row report-row">
	<div class="col-xs-8 col-xs-offset-2"> 
	<%= link_to('import-export/export.csv') do %>
	<%= icon("envelope", class: "report-icon export-icon export-color") %>
	<span class="report-title">Contstant Contact</span>
	<% end %>
	<span class="report-description">- export contact info to Constant Contact</span> 
	</div>
</div>

<script>
	$(document).ready(function() {
		$("#importPopupWrapper").css('display', 'none');
		$("#importLink").click(function () {
			$("#importPopupWrapper").css('display', 'block');
			importFunctions.hideImports();
		});
		
		$('#importTypeSelection').on('change', function() {
      importFunctions.hideImports();
      if (this.value == 'Donors') {
        $('#donorsImportDiv').css('display', 'block');
      }
      else if (this.value == 'Gifts') {
        $('#giftsImportDiv').css('display', 'block');
      }
    });
		
	});
</script>
