<% provide(:title, "Import-Export Information") %>
<div class="overlay" id="overlay" style="display:none;"></div>
<div class="row">
  <div class="col-sm-10 col-xs-offset-2">
  	<div class="page-header">
  		<h2 class="import-color">Import <small>&nbsp; read data into Donna Donor from an outside source</small></h2>
  	</div>
  </div>
</div>

<!-- Import content -->
  <div class="row report-row">
    <div class="col-xs-8 col-xs-offset-2" id='inKindLink'> 
    <%= link_to('import-export/inkind') do %>
    	<span class="	glyphicon glyphicon-leaf import-icon import-color"></span>
    	<span class="report-title">In-kind</span> 
  	<% end %>
    	<span class="report-description">- import non-cash, in-kind donations</span> 
    </div>
  </div>

<!-- Beginning of CSV Imports -->
<div class="row report-row">
  <div class="col-xs-8 col-xs-offset-2" id="importLink"> 
  <%= link_to('javascript:void(0)') do %>
  	<span class="	glyphicon glyphicon-download import-icon import-color"></span>
  	<span class="report-title">CSV Import</span> 
  	<% end %>
  	<span class="report-description">- import data from Raiser's Edge</span> 
  </div>
</div>

<div id='inKindPopupWrapper' class='import-export-dialog import-export-text'>
	<a class="boxclose" id="boxclose"></a>
	<br />
	<div id='inKindImportDiv' class='import-html'>
  	<p>
  		<div>Imports will be created in the <br />
  		form of a .csv file, or whatever type<br />
		  of file that Raiser's Edge or Donor <br />
		  Snap can output.</div>
		  <br />
		  <button type="button" onclick="alert('import in kind data')">Import In Kind Data</button>
		  <br />
  	</p>
  </div>		
</div>

															<!-- col-xs-8 col-xs-offset-2 -->
<div id='importPopupWrapper' class='import-export-dialog import-export-text'>
	
	<a class="boxclose" id="boxclose"></a>
	<br />
  <p>
  	<span>Please select the import type.</span>
    <select id="importTypeSelection" name="user_id">
      <option value="None" selected="selected">Choose Type</option>
      <option value="Donors">Donors</option></option>
      <option value="Gifts">Gifts</option>
    </select>
  </p>
	
	<div id='donorsImportDiv' class='import-html'>
		<p>
			<%= form_tag import_donors_path, multipart: true do %>
	      <%= file_field_tag :file %>
	      <br />
	      <%= submit_tag "Import Donors from CSV" %>
    	<% end %>
		</p>
  </div>
  
  <div id='giftsImportDiv' class='import-html'>
  	<p>
  		<%= form_tag import_gifts_path, multipart: true do %>
	      <%= file_field_tag :file %>
	      <br />
	      <%= submit_tag "Import Gifts from CSV" %>
    	<% end %>
  	</p>
  </div>
</div> 

</div>	<!-- End of CSV Imports -->

<!-- Export header -->
<div class="row export-header">
  <div class="col-sm-10 col-xs-offset-2">
  	<div class="page-header">
  		<h2 class="export-color">Export <small>&nbsp; write data out of the program</small></h2>
  	</div>
  </div>
</div>   <!-- row -->

<!-- Export content -->
<div class="row report-row">
	<div class="col-xs-8 col-xs-offset-2"> 
	<%= link_to('import-export/export.csv') do %>
	<%= icon("envelope", class: "report-icon export-icon export-color") %>
	<span class="report-title">MailChimp</span>
	<% end %>
	<span class="report-description">- export contact info to MailChimp</span> 
	</div>
</div>

<div class="row report-row">
	<div class="col-xs-8 col-xs-offset-2"> 
	<%= link_to('import-export/export.csv') do %>
	<%= icon("envelope", class: "report-icon export-icon export-color") %>
	<span class="report-title">Contstant Contact</span>
	<% end %>
	<span class="report-description">- export contact info to Constant Contact</span> 
	</div>
</div>

<script>
	$(document).ready(function() {
		$("#inKindPopupWrapper").css('display', 'none');
		$("#importPopupWrapper").css('display', 'none');
		
		$("#inKindLink").click(function () {
			$('#overlay').fadeIn(200,function(){
           $('#inKindPopupWrapper').animate({
						opacity: "toggle",
						height: "toggle"
					}); 
        });
			return false;
		});
		
		$("#importLink").click(function () {
			$('#overlay').fadeIn(200,function(){
           $('#importPopupWrapper').animate({
						opacity: "toggle",
						height: "toggle"
					}); 
        });
			importFunctions.hideImports();
			return false;
		});
		
		$('.boxclose').click(function(){
			
			if ($('#inKindPopupWrapper').css('display') == 'block') {
				$('#inKindPopupWrapper').animate({
					opacity: "toggle",
					height: "toggle"
				});
			}
			
    	if ($('#importPopupWrapper').css('display') == 'block') {
				$('#importPopupWrapper').animate({
					opacity: "toggle",
					height: "toggle"
				});
			}
			
    	$('#overlay').fadeOut('fast');
    });
		
		$('#importTypeSelection').on('change', function() {
      if (this.value == 'Donors') {
        importFunctions.hideImports();
        $('#donorsImportDiv').toggle();
      }
      else if (this.value == 'Gifts') {
        importFunctions.hideImports();
        $('#giftsImportDiv').toggle();
      }
    });
		
	});
</script>
