<% provide(:title, "Import") %>
<div class="row">
  <div class="col-sm-10 col-xs-offset-2">
  	<div class="page-header">
  		<h2>Import Raiser's Edge Data 
  		  <small>&nbsp; Choose what data and file type to import.</small>
		  </h2>
  	</div>
  </div>
</div>
<div class="row col-xs-offset-2">
  <span>Please select the import type.</span>
    <select id="importTypeSelection" name="user_id">
      <option value="None" selected="selected">Choose Type</option>
      <option value="Donors">Donors</option></option>
      <option value="Gifts">Gifts</option>
      <option value="Activities">Activities</option>
    </select>
  <br /><br />
  <div>Imports will be created in the form of a .csv file.</div>
  <br />
  
  <div id='donorsImportDiv'>
    <%= form_tag import_donors_path, multipart: true do %>
      <%= file_field_tag :file %>
      <br />
      <%= submit_tag "Import Donors from CSV" %>
    <% end %>
  </div>
  
  <div id='giftsImportDiv'>
    <%= form_tag import_gifts_path, multipart: true do %>
      <%= file_field_tag :file %>
      <br />
      <%= submit_tag "Import Gifts from CSV" %>
    <% end %>
  </div>
  
  <div id='activitiesImportDiv'>
    <%= form_tag import_activities_path, multipart: true do %>
      <%= file_field_tag :file %>
      <br />
      <%= submit_tag "Import Activities from CSV" %>
    <% end %>
  </div>
  
  <br /><br /><br />
</div>
<%= render 'import_export/back' %>

<script>
  $(document).ready(function() {
    
    importFunctions.hideImports();
    
    $('#importTypeSelection').on('change', function() {
      importFunctions.hideImports();
      if (this.value == 'Activities') {
        $('#activitiesImportDiv').css('display', 'block');
      }
      else if (this.value == 'Donors') {
        $('#donorsImportDiv').css('display', 'block');
      }
      else if (this.value == 'Gifts') {
        $('#giftsImportDiv').css('display', 'block');
      }
    });
    
  });
</script>
