    <p><p></p>
	  	<span>Please select the import type.</span>
	    <select id="importTypeSelection" name="user_id">
	      <option value="None" selected="selected">Choose Type</option>
	      <option value="Donors">Donors</option></option>
	      <option value="Gifts">Gifts</option>
	    </select>
	  </p>
	<div id='donorsImportDiv'>
		<p>
			<%= form_tag import_donors_path, multipart: true do %>
	      <%= file_field_tag :file %>
	      <br />
	      <%= submit_tag "Import Donors from CSV" %>
    	<% end %>
		</p>
  </div>
  <div id='giftsImportDiv'>
  	<p>
  		<%= form_tag import_gifts_path, multipart: true do %>
	      <%= file_field_tag :file %>
	      <br />
	      <%= submit_tag "Import Gifts from CSV" %>
    	<% end %>
  	</p>
  </div>
  
  <script>
    	$(document).ready(function() {
		
		$("#importLink").click(function () {
			importFunctions.insertImportOptions();
			importFunctions.hideImports();
		});
		
		$('#importTypeSelection').on('change', function() {
      importFunctions.hideImports();
      if (this.value == 'Donors') {
        $('#donorsImportDiv').css('display', 'block');
      }
      else if (this.value == 'Gifts') {
        $('#giftsImportDiv').css('display', 'block');
      }
    });
  </script>