<% provide(:title, "Surf Donors") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
  	<div class="page-header">
  		<h2>Surf Donors <small>&nbsp; Select a row to view or edit that donor.</small></h2>
  		<aside class="text-right">
  		  <%= link_to(new_donor_path) do %>
			    <span class="glyphicon glyphicon-plus icon-donna icon-donna-new"></span><span class="icon-donna-text">New Donor</span>
		    <% end %>
  		  <div>
      		Surf to: 
          		<%=link_to "All Activities", activities_url %>
          		<%=link_to "All Gifts", gifts_url %>
        </div>
  		</aside>
  	</div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
    <% if @donors.count != 0 %>
    <table class="table table-striped table-hover table-bordered table-responsive">
      <thead>
        <tr>
          <td>Name</td>
          <td>Gifts</td>
          <td>Total Gift</td>
          <td>Last Gift</td>
          <td>Last Activity</td>
        </tr>
      </thead>
      <tbody>
        <% @donors.each do |donor| %>
        <tr>
          <td><%= link_to "#{donor.first_name} #{donor.last_name}", edit_donor_path(donor) %></td>
          <td><%= gift_count_per_donor(donor) %></td>
          <td>$<%= gift_total_amount_per_donor(donor) %></td>
          <td>$<%= last_gift(donor) %></td>
          <td><%= last_activity(donor) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    <h3>No donors yet.</h3>
    <% end %>
  </div>
</div>