<%=form_for(@gift) do |f| %>
    <div class="row form-group">
        <%=render 'shared/gift_error_messages' %>
            <div class="col-xs-2 col-xs-offset-2">
                <div class="line-break">
                    <%=f.label :donor %>
                        <span class="required-field-marker">*</span>
                </div><%= @donor_id %>
                <%=f.select :donor_id, options_for_select(@donors, :selected => @gift.donor_id), include_blank: "Select a donor", class: 'form-control input-sm dropdown-menu' %>
            </div>
    </div>
    <!-- row -->
    
  <div class="row form-group">
    <div class="col-xs-4 col-xs-offset-2">
      <div class="line-break">
        <%=f.label :activity %>
          <span class="required-field-marker">*</span>
      </div>
      <%=f.select :activity_id,  options_for_select(@activities, :selected => @gift.activity_id), include_blank: "Select a donor", class:'form-control input-sm dropdown-menu' %>
    </div>
  </div>
  <!-- row -->

  <div class="row form-group">
    <div class="col-xs-4 col-xs-offset-2">
      <%=f.label :donation_date %>
        <span class="required-field-marker">*</span>
        <%=f.date_field :donation_date, class: 'form-control input-sm' %>
    </div>
  </div>
  <!-- row -->

  <div class="row form-group">
    <div class="col-xs-4 col-xs-offset-2">
      <%=f.label :amount %>
        <span class="required-field-marker">*</span>
        <div class="input-group">
        <div class="input-group-addon">$</div>
          <%=f.number_field :amount, class: 'form-control input-sm' %>
        </div>
    </div>
  </div>
  <!-- row -->

  <div class="row form-group">
    <div class="col-xs-4 col-xs-offset-2">
      <%=f.label :gift_type %>
        <span class="required-field-marker">*</span>
        <%=f.text_field :gift_type, class: 'form-control input-sm' %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-xs-4 col-xs-offset-2">
      <%=f.label :notes %>
        </br>
        <%=f.text_area :notes, placeholder: "Enter notes here...", cols: "95", rows: "5", class: "form_control, input-sm" %>
    </div>
  </div>
  <!-- row -->

  <div class=" row form-group">
    <div class="col-xs-8 col-xs-offset-1 text-center">
      <%=f.submit yield(:button_text), class: "btn btn-success" %>
        &nbsp;
        <%=link_to "Cancel", gifts_path, class: "btn btn-danger" %>
    </div>
  </div>
  <!-- row -->
<% end %>