<%= form_for(@gift) do |f| %>
  	<div class="row form-group">
  	   <%= render 'shared/gift_error_messages' %>
    	<div class="col-xs-2 col-xs-offset-2">
      	<%= f.label :donor %>
      	<span class="required-field-marker">*</span>
        <%= f.select :donor_id, @donors, prompt: "Select a donor" %>
      </div>
      <div class="col-xs-4">
      	<%= f.label :activity %>
      	<span class="required-field-marker">*</span>
        <%= f.select :activity_id, @activities, prompt: "Select an activity" %>
      </div>
    </div> <!-- row -->

    <div class="row form-group">
    	<div class="col-xs-4 col-xs-offset-2">
      	<%= f.label :donation_date %>
        <span class="required-field-marker">*</span>
        <%= f.datetime_field :donation_date, class: 'form-control input-sm' %>
      </div>
    </div>   <!-- row -->

    <div class="row form-group">
     	<div class="col-xs-4 col-xs-offset-2">
      	<%= f.label :amount %>
      	<span class="required-field-marker">*</span>
        <%= f.number_field :amount, class: 'form-control input-sm' %> 
      </div>
    </div>   <!-- row -->

    <div class="row form-group">
      <div class="col-xs-2 col-xs-offset-2">
      	<%= f.label :gift_type %>
        <span class="required-field-marker">*</span>
        <%= f.text_field :gift_type, class: 'form-control input-sm' %>
      </div>

      <div class="col-xs-2">
      	<%= f.label :notes %></br>
        <%= f.text_area :notes, placeholder: "Enter notes here...", cols: "120", rows: "5", class: "form_control, input-sm" %>
      </div>
		</div> <!-- row -->
		
		<div class=" row form-group">
      <div class="col-xs-8 col-xs-offset-1 text-center">
          <%= f.submit yield(:button_text), class: "btn btn-success" %>
        &nbsp;
        <%= link_to "Cancel", donors_path, class: "btn btn-danger" %>
      </div>
  	</div>   <!-- row -->
 	
 <% end %>