<%=form_for(@gift) do |f| %>
  <div class="row form-group">
    <div class="col-xs-2 col-xs-offset-2">
      <div class="line-break">
        <%=f.label :activity %>
      </div>
      <%=f.select :activity_id, @activities, prompt: "Select an activity", class: 'form-control input-sm' %>
    </div>
    <div class="col-xs-2">
      <div class="line-break">
        <%=f.label :donor %>
      </div>
      <%=f.select :donor_id, @donors, prompt: "Select a donor", class: 'form-control input-sm' %>
    </div>
    <div class="col-xs-2">
      <%=f.submit 'GO', class: "btn btn-success" %>
    </div>
  </div>
<% end %>