<% provide(:title, "Surf Gifts") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
  	<div class="page-header">
  		<h2>Surf Gifts <small>&nbsp; Select a row to view or edit that gift.</small></h2>
  		<aside class="text-right">
  		  <%= link_to(new_gift_path) do %>
			    <span class="glyphicon glyphicon-plus icon-donna icon-donna-new"></span><span class="icon-donna-text">New Gift</span>
		    <% end %>
  		  <div>
      		Surf to: 
          		<%=link_to "All Activities", activities_url %>
          		<%=link_to "All Donors", donors_url %>
        </div>
  		</aside>
  	</div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
    <% if @gifts.count != 0 %>
    <table class="table table-striped table-hover table-bordered table-responsive">
      <thead>
        <tr>
          <td>Activity</td>
          <td>Donor</td>
          <td>Date</td>
          <td>Amount</td>
        </tr>
      </thead>
      <tbody>
        <% @gifts.each do |gift| %>
        <tr>
          <td><%= link_to gift.activity, edit_gift_path(gift) %></td>
          <td><%= gift.donor %></td>
          <td><%= gift.donation_date %></td>
          <td><%= number_to_currency(gift.amount) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    <h3>No gifts yet.</h3>
    <% end %>
  </div>
</div>